<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104795389587-tnbcnqscvucv0s42c5nud96ke1ebljuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104795389587-tnbcnqscvucv0s42c5nud96ke1ebljuf</string>
	<key>API_KEY</key>
	<string>AIzaSyAhdgVeqrrbabKJBrmJdcPTrMfAfQGgZbk</string>
	<key>GCM_SENDER_ID</key>
	<string>104795389587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>software.aks.TODO-ONLINE</string>
	<key>PROJECT_ID</key>
	<string>todo-notes-95e25</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-notes-95e25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104795389587:ios:e339f3557a193546ab5766</string>
	<key>DATABASE_URL</key>
	<string>https://todo-notes-95e25-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>